serpapi
google-search-results
aiohttp
nest_asyncio
selenium
paramiko
PyYAML
pandas
db_dtypes
pandas_gbq
json5
google
google-auth-oauthlib
numpy
httplib2
google-api-python-client
oauth2client
openpyxl
Unidecode
gspread
streamlit==1.40.1
google-cloud-firestore
requests
openai == 0.28.0
google-auth-httplib2
google-cloud-bigquery
google-cloud-secret-manager
pyopenssl==23.0.0
setuptools
google-auth
altair==4.2.0
xmltodict
tldextract
webdriver-manager
nltk
beautifulsoup4
requests
scikit-learn
IPython
